<!doctype html>
<html ng-app="myApp">
    <head>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
        <!--MAPBOX-->
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
        <script type="text/javascript">
            window.onload = function () {
                setupMap();
            };
            function setupMap() {
                L.mapbox.accessToken = 'pk.eyJ1IjoibWxpcSIsImEiOiJUWnMzTG13In0.o1lqB-cy9XNlBrbJ3D_ATg';
                window.map = L.mapbox.map('map', 'mliq.c23716af', {maxZoom: 2, minZoom: 2, zoomControl: false});
                map.setView([32.25, 18.984], 2);

                var myLayer = L.mapbox.featureLayer().addTo(map);

                var geojson = {
                    type: 'FeatureCollection',
                    features: [{
                        type: 'Feature',
                        properties: {
                            title: 'X Canadian Dollars = 1 US Dollar',
                            'marker-color': '#f86767',
                            'marker-size': 'large',
                            'marker-symbol': 'c'
//                            url: 'http://en.wikipedia.org/wiki/Washington,_D.C.'
                        },
                        geometry: {
                            type: 'Point',
                            coordinates: [-77.03201, 38.90065]
                        }
                    },
                        {
                            type: 'Feature',
                            properties: {
                                title: 'Baltimore, MD',
                                'marker-color': '#7ec9b1',
                                'marker-size': 'large',
                                'marker-symbol': 'star',
                                url: 'http://en.wikipedia.org/wiki/Baltimore'
                            },
                            geometry: {
                                type: 'Point',
                                coordinates: [-76.60767, 39.28755]
                            }
                        }]
                };

                myLayer.setGeoJSON(geojson);
                myLayer.on('mouseover', function (e) {
                    e.layer.openPopup();
                });
                myLayer.on('mouseout', function (e) {
                    e.layer.closePopup();
                });
            }
        </script>
    </head>
    <body>
        <!-- CONVERTER-->
        <div ng-include="'/views/converter.html'"></div>
        <!-- MAP-->
        <div class="container">
            <!--<div ng-include="'/views/map.html'"></div>-->
            <div class="col-md-offset-1 col-md-10 jumbotron" id='map' style="width:84%; height:500px"></div>
        </div>
        <!-- SCRIPTS-->
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-filter/dist/angular-filter.min.js"></script>
        <script type="text/javascript" src="/javascripts/app.min.js"></script>
    </body>
</html>