<!doctype html>
<html>
    <head></head>
    <body>
        <div class="container" ng-controller="CurrencyController as curr">
            <div class="col-md-offset-1 col-md-10 jumbotron">
                <div>
                    <h2 ng-hide="running">{{message + amt}}</h2>
                    <h2 ng-show="running">{{message}}</h2>
                    <h3>
                    <input ng-model="amt" type="number" placeholder="Enter Amount"/>
                    <button ng-click="convert('USDEUR')">USD-EUR</button>
                    <button ng-click="convert('EURUSD')">EUR-USD</button></h3>
                </div>
                <h3>
                <input ng-model="from" type="text" placeholder="from" maxlength="3" size="6"> - <input ng-model="to" type="text" placeholder="target" maxlength="3" size="6"><button ng-click="convert('special')">Go</button></h3>
            </div>
        </div>
    </body>
</html>